
<h1>Gætværk</h1>


<em>Hey <%= @user.name %></em>

Du kan ændre dit gæt lige indtil EM starter. Dyst mod nogle klejnsmede eller grynmænd. Det sker i grupperne.

<%= render :partial => "coupons/form" %>

