
<h1>Gætværk</h1>


<em>Hey <%= @user.name %></em>

Du kan ændre dit gæt lige indtil EM starter. Dyst mod nogle klejnsmede eller grynmænd. Det sker i grupperne.

<div class="row" id="coupon">

<%= form_for(@coupon, html: { class: '', id: 'coupon-form' } ) do |f| %> 
    
   <div class="span3">
      <input type="hidden" name="test" value="">
      <img class="flag" src="http://img.uefa.com/imgml/flags/32x32/pol.png" title="polen for fa'n">
      <img src="http://img.uefa.com/imgml/flags/32x32/ger.png" title="tyskerne">
      <img src="http://img.uefa.com/imgml/flags/32x32/por.png" title="fiskerne">
      <img src="http://img.uefa.com/imgml/flags/32x32/esp.png" title="fattige">

    </div> 
    <div class="span3">
      <fieldset>
        <legend>Gruppe A</legend>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
      </fieldset>
    </div>
    <div class="span3">
      <fieldset>
        <legend>Gruppe B</legend>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
      </fieldset>
    </div>
    <div class="span3">
      <fieldset>
        <legend>Gruppe C</legend>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
      </fieldset>
    </div>
    <div class="span3">
      <fieldset>
        <legend>Gruppe D</legend>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
        <div class="match">
          <img src="http://img.uefa.com/imgml/flags/32x32/pol.png" alt="">
          <input class="input-small">
          :
          <input class="input-small">
          <img src="http://img.uefa.com/imgml/flags/32x32/den.png" alt="">
        </div>
      </fieldset>
    </div>

    <div class="span3">
      <fieldset>
        <legend>Videre fra Gruppe A</legend>
        <select>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
        </select>
        <select>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
        </select>
      </fieldset>
    </div>

    <div class="span3">
      <fieldset>
        <legend>Videre fra B</legend>
        <select>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
        </select>
        <select>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
        </select>
      </fieldset>
    </div>

    <div class="span3">
      <fieldset>
        <legend>Videre fra C</legend>
        <select>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
        </select>
        <select>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
        </select>
      </fieldset>
    </div>

    <div class="span3">
      <fieldset>
        <legend>Videre fra D</legend>
        <select>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
        </select>
        <select>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
          <option>Danmark</option>
        </select>
      </fieldset>
    </div>

  <div class="span12" style="margin-left:30px">
    <fieldset>
      <legend>Semifinalerne</legend>
      <select>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
      </select>
      <select>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
      </select>
      <select>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
      </select>
      <select>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
      </select>
    </fieldset>
  </div>

  <div class="span6 offset3">
    <fieldset>
      <legend>Finalen</legend>
      <select>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
      </select>
      <select>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
        <option>Danmark</option>
      </select>
    </fieldset>
  </div>

  <div class="span12 pull-right">
    <button type="submit" class="btn pull-right">Gæt</button>
  </div>
<% end %>
</div>