<h1>Regler</h1>

I det store Champions League gættespil kan du gætte mod alt og alle. Lav en kupon og start en gruppe med dine yndlinge.
Regler for pointgivning i gruppe- og finalespillet.

<h2>Point gruppespillet</h2>
<DL>
<DT>Basis<dd>Hvis du har udfaldet af en kamp rigtigt, får du 5 point
<DT>Bonus<dd>Hvis du har resultatet af en kamp rigtigt, får du 3 point
<DT>Straf<dd>Hvis du har resultatet af en kamp forkert, får du -1 point for hvert mål du er galt på den
</DL>

<h2>Eksempel 1</h2>
<p>Danmark møder Holland i et brag af en kamp.</p>
<p>Du har gættet at Danmark vinder 3 til 2, men kampen ender i stedet 0 til 0</p>
<p>Du får -5 point - 0 point for Basis, 0 for Bonus og -5 for Straf

<h2>Eksempel 2</h2>
<p>Danmark møder Holland i et brag af en kamp.</p>
<p>Du har gættet at Danmark vinder 3 til 2, men kampen ender i stedet 3 til 1</p>
<p>Du får 4 point - 5 point for Basis, 0 for Bonus og -1 for Straf

<h2>Point knockout og finale</h2>
<p>For hvert rigtigt hold du har videre til enten kvart-, semi- eller finalen får du 5 point</p>
<p>Hvis du gætter vinderen af turneringen får du 5 point yderligere</p>
